<html>
  <head>
    <title>Articles</title>
    <style type="text/css" media="screen">
      label, label span {
        display: block;
      }
      
      input[type="text"], textarea {
        font-size: 18px;
        padding: 2px;
        width: 400px;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>