<html>
  <head>
    <title>Articles</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
    <div id="all">
    <h1><a href="/">Hatter!</a></h1>
      <%= yield %>
    </div>
  </body>
</html>