<% @articles.each do |article| %>
  <div class="article">
    <h2><a href="/articles/<%= article.to_param %>"><%= article.name %></a></h2>
    <div><%= article.body_html %></div>
    <small>
      <a href="/articles/<%= article.to_param %>/edit">Click here to edit</a>
    </small>
  </div>
<% end %>

<p><a href="/articles/new">Create a new article.</a></p>
