<h1>Articles!</h1>

<hr>

<% @articles.each do |article| %>
  <h2><a href="/articles/<%= article.to_param %>"><%= article.name %></a></h2>
  <div>
    <%= article.body %>
  </div>
  <hr>
<% end %>

<form action="/articles" method="post" accept-charset="utf-8">
  <h3>Create one!</h3>
  
  <label>
    Name<br>
    <input type="text" name="article[name]" value="">
  </label>
  
  <br>
  
  <label>
    Body<br>
    <textarea name="article[body]" rows="8" cols="40"></textarea>
  </label>
  
  <p><input type="submit" value="Create this article!"></p>
</form>

