<h2><%= @article.name %></h2>
<div>
  <%= @article.body %>
</div>

<small>
  <a href="/articles/<%= @article.to_param %>/edit">Click here to edit</a>
</small>

<hr>

<a href="/articles">Back to articles</a>