* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: Helvetica;
  padding: 1em;
}

a {
  color: black;
  background: #eee;
  text-decoration: none;
}

a:hover {
  background: #222;
  color: white;
}

a:active {
  text-decoration: underline;
}

h1 {
  margin-bottom: 0.4em;
}

p {
  margin: 1em 0;
}

ul li {
  margin-left: 1em;
}

label {
  margin: 0 0 1em;
}

label, label span {
  display: block;
}

input[type="submit"] {
  cursor: pointer;
}

input[type="text"], textarea {
  font-size: 18px;
  padding: 2px;
  width: 500px;
}

textarea {
  height: 400px;
  font-family: Courier;
}

.article {
  margin: 1em 0;
}

.article > div {
  margin: 0.4em;
}

.comments {
  margin-top: 1em;
}

.comments textarea {
  height: 200px;
}

#all {
  width: 600px;
  margin: 0 auto;
}